<script>
    function getRandomBook() {
        return {
            book: null,
            refreshBook() {
                this.book=null;
                fetch('https://api.rsywx.com/books/random')
                    .then((res)=>res.json())
                    .then((data)=>{
                        this.book=data.data[0];
                    });
            }
        };
    }
</script>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" x-data="getRandomBook()" x-init="refreshBook()">
    <img class="rounded-t-lg" :src="book.img" :alt="book.title" />
    <div class="p-5" style="position: relative;">
        <a x-bind:href="'{{ path('book_detail', {'bookid': 'dummy'}) }}'.replace('dummy', book.bookid)">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" x-text="book?book.title:'正在找书……'"></h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            为您推荐一本
            <span x-text="book.author"></span>
            <span x-text="book.title"></span>
        </p>
        <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/3 left-1/2" x-show='!book'>
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-yellow-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
        </div>
        <a x-bind:href="'{{ path('book_detail', {'bookid': 'dummy'}) }}'.replace('dummy', book.bookid)" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            详细信息&nbsp;&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
            </svg>
        </a>
    </div>
</div>
